.footer-parte3 {
    height: 128px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 15px;
    width: 100%;
}

.rodape-redes {
    display: flex;
    gap: 18px;
    margin-right: 10px;
}

.rodape-redes img {
    width: 25px;
    height: 25px;
}

.footer-parte3 > div > p {
    font-size: 13px;
}








@media screen and (min-width: 768px) {
    .footer-parte3 {
        text-align: start;
        align-items: start;
        flex-direction: row;
    }

    .rodape-redes {
        width: fit-content;
        justify-content: center;
    }

    .footer-parte3 > div:first-of-type {
        width: 800px;
    }
}