.acessorio-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.acessorio-card-container > img {
    margin: 60px 0 10px;
    max-width: 300px;
}

.acessorio-card-container > h3 {
    margin: 0 0 25px;
}

.sec-personalizavel-divisoria {
    height: 70px;
  }
  
  .acessorios-titulo {
    margin: 120px 15px 20px;
    text-transform: capitalize;
    color: #2A5E9E;
    text-align: center;
    max-width: 1240px;
  }
  
  .acessorios-texto {
    margin: 0 15px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
  }
  
  .acessorios-container {
    width: 85%;
    max-width: 1240px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }
  
  .acessorios-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }