.sec-person2-section {
    height: 590px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sec-person2-bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.sec-person2-bg > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0 0 80px 0;
}

.sec-person2-bg::before {
    content: '';
    width: 100%;
    height: 590px;
    position: absolute;
    background: linear-gradient(45deg, #2A5E9E, #EC7F12);
    top: 0;
    left: 0;
    opacity: 0.8;
    border-radius: 0 0 80px 0;
}

.sec-person2-container {
    max-width: 1240px;
    position: absolute;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sec-person2-conteudo {
    display: flex;
    flex-direction: column;
    gap: 25px;
    max-width: 500px;
    margin-top: 25px;
}

.sec-person2-conteudo > h2 {
    text-transform: lowercase;
}

.sec-person2-conteudo > h2::first-letter {
    text-transform: uppercase;
}




@media screen and (min-width: 1032px) {
    .sec-person2-section {
        height: 620px;
    }

    .sec-person2-bg::before {
        height: 620px;
    }

    .sec-person2-conteudo {
        margin: 90px calc((100vw - 1240px) / 2) 0
    }
}