.etapas-container {
    position: relative;
    width: 97%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etapas-container h4 {
    position: absolute;
    color: #EC7F12;
    font-size: 59px;
    top: -50px;
    right: 20px;
}

.etapas-container div {
    width: 100%;
    max-width: 460px;
    max-height: 390px;
    position: relative;
}

.etapas-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.etapas-container h3 {
    font-size: 20px;
    font-weight: 500;
    color: #2A5E9E;
    margin-top: 25px;
}

