.headerPt3-section {
    display: none;
}

.headerPt3-container > div:last-of-type {
    cursor: pointer;
}








@media screen and (min-width: 768px) {
    .headerPt3-section {
        background-color: #2A5E9E;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 56px;
        justify-content: center;
    }
    
    .headerPt3-container {
        width: 100%;
        max-width: 1240px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;
    }
    
    .headerPt3-container > div {
        display: flex;
        gap: 10px;
    }
    
    .headerPt3-container > div > p {
        font-size: 18px;
        color: #FFFFFF;
    }
    
    .headerPt3-container img {
        width: 25px;
    }
}