.mapas-tabs {
    display: flex;
    width: fit-content;
    margin: 30px auto 0;
    cursor: pointer;
}

.mapas-tabs h3 {
    border-top: 1px solid #2a5e9e6a;
    border-left: 1px solid #2a5e9e6a;
    border-right: 1px solid #2a5e9e6a;
    padding: 5px;
    border-radius: 15px 15px 0 0;
    color: #2A5E9E;
}

.tab-clicada,
.mapas-tabs h3:hover {
    background-color: #ec7f1285;
}

.iframe {
    width: 100%;
    height: 300px;
    border: 1px solid rgba(128, 128, 128, 0.253);
}

@media (max-width: 600px) {
    .mapas-tabs {
      flex-direction: column;
      width: 100%;
      margin: 20px auto 0;
    }
  
    .mapas-tabs h3 {
      border-radius: 10px;
      border-left: none;
      border-right: none;
      border-top: 1px solid #2a5e9e6a;
      margin-bottom: 5px;
      text-align: center;
    }
  
    .iframe {
      height: 200px;
    }
  }
  