.btn-orcamento {
    display: flex;
    border: none;
    background-color: #EC7F12;
    width: 202.4px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 12px 27px;
    border-radius: 4px;
}

.btn-orcamento img {
    width: 35px;
    height: 35px;
}

.btn-orcamento h3 {
    color: #FFFFFF;
    margin-left: 5px;
    text-transform: uppercase;
}

@media (max-width: 600px) {
    .btn-orcamento {
        width: 70%;
        height: auto;
        padding: 10px 16px;
    }

    .btn-orcamento img {
        width: 28px;
        height: 28px;
    }

    .btn-orcamento h3 {
        font-size: 1rem;
        margin-left: 8px;
        text-align: center;
    }
}


