.containerProgress {
    display: flex;
    justify-content: center;
    padding: 30px;
}

@media (max-width: 600px) {
    .containerProgress {
        flex-direction: column;
        align-items: center;
        padding: 20px 15px;
    }
}
