.rodape-container,
.rodape {
    background-color: #d2d2d2;
    color: #2A5E9E;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 0;
    width: 100vw;
}

.rodape-container {
    max-width: 1240px;
    padding: 0 10px;
}

.rodape-linha {
    width: 100%;
    border-bottom: 1px dashed #FFFFFF;
    margin: 10px auto;
}

@media (max-width: 600px) {
    .rodape {
        padding: 10px 15px;
        margin-top: 15px;
    }

    .rodape-container {
        padding: 0 15px;
        max-width: 100%;
    }

    .rodape-linha {
        margin: 8px auto;
        border-bottom-width: 1px;
    }
}
