.section-preparados-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.section-preparados-container {
    width: 100%;
    max-width: 1240px;
    margin: 40px 10px;
}

.section-preparados-container div h2 {
    margin-bottom: 25px;
    margin: 0 10px 20px;
    font-size: 34px;
    color: #2A5E9E;
    margin-left: 25px;
    text-transform: lowercase;
}

.section-preparados-container div h2::first-letter {
    text-transform: uppercase;
}

.section-preparados-container > div > p {
    margin: 0 15px;
    margin-bottom: 24px;
    margin-left: 25px;
}

.section-preparados-lista ul li {
    display: flex;
    padding: 8px;
    margin-left: 5px;
}

.section-preparados-lista ul li p {
    font-weight: 600;
    color: #2A5E9E;
    font-size: 18px;
    margin-left: 10px;
}






@media screen and (min-width: 768px) {
    .section-preparados-container {
        display: flex;
        align-items: center;
    }

    .section-preparados-container div h2 {
        font-size: 48px;
    }

    .section-preparados-lista ul {
        width: 400px;
    }

    .section-preparados-lista ul li img {
        height: 25px;
    }
}